@import "bulma.sass";

.feature-section {
  margin-bottom: 10px;
}

.feature-section-body {
  display: flex;
  flex-direction: row;

  .feature-section-content {
    flex-grow: 1;
    z-index: 2;
  }

  max-width: 1200px;
  width: 100%;
  // margin: 0 auto;
}

.feature-image-left {
  margin-left: -150px;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.feature-image-right {
  margin-right: -150px;
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

#tantan {
  @media screen and (max-width: $tablet) {
    background-image: url(../img/tantan-bg.png);
    background-repeat: no-repeat;
  }
  height: 616px;
}

#genesis {
  height: 651px;
  @media screen and (max-width: $tablet) {
    background-image: url(../img/genesis-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
