$primary: #e1bc29;
$info: #cd4e4d;
$dark: #32312f;
$input-background-color: #424138;
$input-color: white;

@import 'bulma.sass';

body {
  background-color: $dark;
  color: $light;
}

h1,
h2,
h3 {
  color: $light;
}

.title,
.subtitle,
strong {
  color: $primary;
}

.box {
  background-color: #424138;
  color: inherit;
  border: 1px dotted $primary;
}

.feature-section {
  padding-top: 10px;
  background: linear-gradient(to bottom left, #1a1714 0%, #42413800 33%);

  &:nth-of-type(2) {
    background: linear-gradient(to bottom right, #1a1714 0%, #42413800 33%);
  }
}

.feature-section-body {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .feature-section-content {
    flex-grow: 1;
    z-index: 2;
  }
}

.underline {
  text-decoration: underline;
}

.feature-image-left {
  margin-left: -150px;
  @media screen and (max-width: $tablet * 0.75) {
    display: none;
  }
}

.feature-image-right {
  margin-right: -150px;
  @media screen and (max-width: $tablet * 0.75) {
    display: none;
  }
}

#tantan {
  @media screen and (max-width: $tablet * 0.75) {
    background-image: url(../img/tantan-bg.png);
    background-repeat: no-repeat;
  }
  height: 616px;
}

#genesis {
  height: 651px;
  text-align: right;
  @media screen and (max-width: $tablet) {
    background-image: url(../img/genesis-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}

.input::placeholder {
  color: #e1bc29;
}

#at-ambi {
  border: 1px solid #e1bc29;
  background-color: $dark;
  color: $light;
}

.speak-bubble {
  display: block;
}

.speak {
  background-color: $info;
  display: inline-block;
  padding: 7px 14px;
  margin: 5px;
  border-radius: 20px;
}

.speaker-button {
  width: 50px;
  height: 50px;
}

.speaker-icon {
  height: 1.25em;
  width: 1.25em;
  top: 0.125em;
  position: relative;
  margin-right: 5px;
  background: $primary;
  padding: 0.2em;
  border-radius: 50px;
}

.nudge-down {
  margin-top: 175px;
}
