<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Site.Language.Lang }}</title>
  {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "assets/scss")) }}
  {{ $style := resources.Get "scss/main.scss" | toCSS $cssOpts | minify |  }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <div class="hero is-medium is-dark is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> Ambi Translate </h1>
        <h2 class="subtitle">
          {{ .Site.Params.Revolution | markdownify }}
        </h2>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Harbringers</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Languages Spoken</p>
            <p class="title">140+</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Daily Users</p>
            <p class="title">935K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Total Translations Made</p>
            <p class="title">a fair few</p>
          </div>
        </div>
      </nav>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <p>In today's modern world, communication reigns. Technology helps us communicate anything with anyone, at any time, like never before in human history.</p>
      <p> Tools such as Twitter allow us to share quick updates about our day in seconds. Facebook allows us to catch up with grandma and childhood friends without breaking a sweat.</p>
      <br>
      <h2 class="subtitle ">Stumbling on language barriers is so yesteryear.</h2>
      <p>If you followed Shakespeare on Twitter, could you understand him? </p>
      <p>When you travel, are you ever sure that you're saying what you mean? </p>
      <p>Wouldn't it be nice to pass off devastating insults as foreign, exotic compliments?</p>
      <br>
      <h2 class="subtitle">With Ambi Translate, the whole world can speak clearly.</h2>
    </div>
  </section>
</body>

</html>