<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Site.Language.Lang }}</title>
  {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "assets/scss")) }}
  {{ $style := resources.Get "scss/main.scss" | toCSS $cssOpts | minify |  }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>

  <div class="hero is-medium is-dark is-bold has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ .Site.Params.Revolution | markdownify }}
        </h1>
        <h2 class="subtitle">
          {{ .Site.Params.Speak | markdownify }}
        </h2>
      </div>
    </div>
  </div>

</body>
</html>