<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Site.Params.Title }}</title>
  {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "assets/scss")) }}
  {{ $style := resources.Get "scss/main.scss" | toCSS $cssOpts | minify | }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h2 class="subtitle">{{ .Site.Params.Title }}</h2>
      </div>
      <div style="flex-grow:2;"></div>
      <div class="navbar-item">
        <a class="button" href="{{ .Site.Params.OtherLangLink }}">
          {{ .Site.Params.OtherLang }}
        </a>
      </div>
    </div>
  </nav>
  <div class="hero is-medium is-dark is-bold has-text-centered ">
    <div class="hero-body">
      <div class="container">
        <h1 class="title"> {{ .Site.Params.Title }} </h1>
        <h2 class="subtitle">
          {{ .Site.Params.Revolution }}
        </h2>
        <button class="button is-primary">{{ .Site.Params.SignUp }}</button>
        <button class="button is-primary is-outlined">
          {{ .Site.Params.LogIn }}
        </button>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ .Site.Params.TTSCodenames }}</p>
            {{ $tant := resources.Get "img/tant.png" }}
            {{ $tant = $tant.Resize "x256" }}
            <img class="image is-64x64" src="{{ $tant.Permalink }}" alt="">
            {{ $gen := resources.Get "img/gen.png" }}
            {{ $gen = $gen.Resize "x256" }}
            <img class="image is-64x64" src="{{ $gen.Permalink }}" alt="">
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ .Site.Params.NumLangsSpoken }}</p>
            <p class="title">{{ .Site.Params.NumLangsSpokenFigure }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ .Site.Params.DailyUsers }}</p>
            <p class="title">{{ .Site.Params.DailyUsersFigure }}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ .Site.Params.TotalTranslations }}</p>
            <p class="title">{{ .Site.Params.TotalTranslationsFigure }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <p>{{ .Site.Params.InTodaysWorld }}</p>
      <p>{{ .Site.Params.Grandma }}</p>
      <br>
      <h2 class="subtitle">{{ .Site.Params.Yesteryear }}</h2>
      <p>{{ .Site.Params.Shakespeare }}</p>
      <p>{{ .Site.Params.WhatYouMean }}</p>
      <p>{{ .Site.Params.ExoticCompliment }}</p>
      <br>
      <h2 class="subtitle">{{ .Site.Params.WithTranslate }}</h2>
    </div>
  </section>
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">{{ .Site.Params.How }}</h1>
      <h2 class="subtitle">{{ .Site.Params.JustSpeak }}</h2>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <h2 class="subtitle">
                  {{ .Site.Params.Naturally | markdownify }}
                </h2>
                <p>{{ .Site.Params.InstantTranslation }}</p>
                <br>
                <p>{{ .Site.Params.JustLike }}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <h2 class="subtitle">
                  {{ .Site.Params.Confidently | markdownify }}
                </h2>
                <p>{{ .Site.Params.Database | safeHTML }}</p>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <h2 class="subtitle">
              {{ .Site.Params.FromAnywherely | markdownify }}
            </h2>
            <p>{{ .Site.Params.TheWayYou }}</p>
            <br>
            <p class="has-text-weight-bold">{{ .Site.Params.AmbiMail }}</p>
            <p>{{ .Site.Params.Inbox }}</p>
            <p class="has-text-weight-bold">{{ .Site.Params.Here }}</p>
            <p>{{ .Site.Params.CatchUp }}</p>
            <p class="has-text-weight-bold">{{ .Site.Params.OnCall }}</p>
            <p>{{ .Site.Params.AmbiSpeak }}</p>
          </article>
        </div>
      </div>
      <div class="columns">
        <div class="column"></div>
        <div class="column is-three-fifths">
          <p>{{ .Site.Params.YouNeedAccount }}</p>
          <p>{{ .Site.Params.DontHaveOne }}</p>
          <br>
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <input class="input" type="text" placeholder="Username">
            </p>
            <p class="control">
              <button class="button is-static">
                {{ .Site.Params.AtAmbi }}
              </button>
            </p>
          </div>
        </div>
        <div class="column"></div>
      </div>
  </section>
  <div class="hero is-primary">
    <div class="hero-body">
      <h1 class="title is-monospace">{{ .Site.Params.NameOne }}</h1>
    </div>
  </div>
  <div class="hero is-danger">
    <div class="hero-body">
      <h1 class="title is-monospace">{{ .Site.Params.NameTwo }}</h1>
    </div>
  </div>
  <section class="section has-text-centered">
    <h1 class="title">{{ .Site.Params.WaitingFor }}</h1>
    <button class="button is-primary">{{ .Site.Params.SignUp }}</button>
    <button class="button is-primary is-outlined">
      {{ .Site.Params.LogIn }}
    </button>
  </section>
</body>

</html>